In [1]:
import boto3
import pandas as pd

session = boto3.Session(profile_name='AdministratorAccess-794038242332')

s3 = session.client('s3')

In [3]:
# Parâmetros do download
bucket_name = 'desafio-sprint5'  
s3_key = 'uploads/dadosogu.csv' 
local_file_path = 'C:/Users/sidci/OneDrive/Documentos/Bruna/compass/sprint5/dadosogu_baixado.csv'

try:
    s3.download_file(Bucket=bucket_name, Key=s3_key, Filename=local_file_path)
    print("Arquivo baixado com sucesso!")
except Exception as e:
    print("Erro ao baixar o arquivo:", e)

Arquivo baixado com sucesso!

In [4]:
dadosgov = pd.read_csv('dadosogu_baixado.csv', sep='|', dtype={19: object})

In [5]:
dadosgov

,data_referencia,cod_ibge,txt_nome_municipio,txt_sigla_uf,txt_regiao,dt_assinatura,cod_operacao,txt_nome_empreendimento,txt_nome_agente_financeiro,txt_modalidade,...,qtd_uh,qtd_uh_entregues,qtd_uh_vigentes,qtd_uh_distratadas,val_contratado_total,val_desembolsado,txt_cnpj_construtora_entidade,txt_nome_construtora_entidade,txt_endereco,txt_cep
0,30/09/2024,110.02,Porto Velho,RO,Norte,09/04/2010,29925581.0,RESIDENCIAL CIDADE DE TODOS III,CAIXA,FAR,...,240.0,240.0,0.0,0,13.830.963,"13.809.147,96",3.445271e+13,COMERCIO ENGENHARIA LTDA,"AV AMAZONAS, N� 9680 - BAIRRO SOCIALISTA",76800000.0
1,30/09/2024,110.02,Porto Velho,RO,Norte,09/04/2010,30011639.0,RESIDENCIAL CIDADE DE TODOS IX,CAIXA,FAR,...,240.0,240.0,0.0,0,14.218.052,"14.218.051,93",3.445271e+13,COMERCIO ENGENHARIA LTDA,"RUA OSWALDO RIBEIRO, S/N - SOCIALISTA",76800000.0
2,30/09/2024,110.02,Porto Velho,RO,Norte,09/07/2010,32680414.0,RESIDENCIAL CIDADE DE TODOS - LOTE 01,CAIXA,FAR,...,114.0,114.0,0.0,0,6.840.691,"6.840.691,6",2.364225e+12,CONSTRUTORA JOAO DE BARRO LTDA,AV AMAZONAS - LOTE 738,76800000.0
3,30/09/2024,110.02,Porto Velho,RO,Norte,09/07/2010,32703630.0,RESIDENCIAL CIDADE DE TODOS - LOTE 02,CAIXA,FAR,...,82.0,82.0,0.0,0,3.421.062,"3.421.062,22",2.364225e+12,CONSTRUTORA JOAO DE BARRO LTDA,"RUA MANE GARRICHA, LOTE 393",76800000.0
4,30/09/2024,110.02,Porto Velho,RO,Norte,25/06/2013,40267126.0,RESIDENCIAL PORTO BELLO II,CAIXA,FAR,...,272.0,272.0,0.0,0,18.161.056,"18.161.056,68",7.757862e+13,CASAALTA CONSTRUCOES E EMPREENDIMENTO LTDA.,"RUA DE ACESSO,(ATUAL JOSE FAID), S/N BAIRRO JD...",76800000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58341,30/09/2024,311.06,Cambuí,MG,Sudeste,27/04/2018,49099583.0,PNHR CAMBUI,CAIXA,Rural,...,7.0,0.0,0.0,7,256.900,38.535,NaN,NaN,NaN,NaN
58342,30/09/2024,260.41,Caruaru,PE,Nordeste,02/07/2024,63191186.0,RESIDENCIAL NOVA BARAUNA I ...,CAIXA,FAR,...,240.0,0.0,240.0,0,40.260.000,0,NaN,NaN,NaN,NaN
58343,30/09/2024,231.29,Sobral,CE,Nordeste,02/08/2024,63241600.0,RESIDENCIAL JARDINS DA SERRA II ...,CAIXA,FAR,...,192.0,0.0,192.0,0,"30.559.649,53",0,NaN,NaN,NaN,NaN
58344,30/09/2024,431.49,Porto Alegre,RS,Sul,27/09/2013,53367100.0,CONDOMINIO JARDIM DAS FIGUEIRAS III - FASE II,CAIXA,Entidades,...,360.0,360.0,0.0,0,30.852.862,30.852.862,5.948440e+12,INSTITUTO DE PLANEJAMENTO E ESTUDO SOCIO-AMBIE...,NaN,NaN
58345,30/09/2024,280.74,Tobias Barreto,SE,Nordeste,06/08/2024,63217932.0,RESIDENCIAL AGRIPINO BERNARDO DOS SANTOS IV ...,CAIXA,FAR,...,100.0,0.0,100.0,0,13.000.000,0,NaN,NaN,NaN,NaN

In [6]:
dadosgov.shape

(58346, 21)

In [7]:
dadosgov = dadosgov.drop_duplicates() ##apagar duplicadas

In [8]:
dadosgov.shape

(18151, 21)

In [9]:
dadosgov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18151 entries, 0 to 58345
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   data_referencia                18151 non-null  object
 1   cod_ibge                       18151 non-null  float64
 2   txt_nome_municipio             18151 non-null  object
 3   txt_sigla_uf                   18151 non-null  object
 4   txt_regiao                     18137 non-null  object
 5   dt_assinatura                  18151 non-null  object
 6   cod_operacao                   13585 non-null  float64
 7   txt_nome_empreendimento        18151 non-null  object
 8   txt_nome_agente_financeiro     18151 non-null  object
 9   txt_modalidade                 18151 non-null  object
 10  txt_situacao_empreendimento    18151 non-null  object
 11  qtd_uh                         18151 non-null  float64
 12  qtd_uh_entregues               18150 non-null  float64
 13  qtd_uh_vigentes                18151 non-null  float64
 14  qtd_uh_distratadas             18151 non-null  int64
 15  val_contratado_total           18151 non-null  object
 16  val_desembolsado               18150 non-null  object
 17  txt_cnpj_construtora_entidade  13417 non-null  float64
 18  txt_nome_construtora_entidade  13426 non-null  object
 19  txt_endereco                   4067 non-null   object
 20  txt_cep                        4067 non-null   float64
dtypes: float64(7), int64(1), object(13)
memory usage: 3.0+ MB

In [10]:
dadosgov.nunique ()

data_referencia                      1
cod_ibge                          4610
txt_nome_municipio                4414
txt_sigla_uf                        27
txt_regiao                           5
dt_assinatura                     1785
cod_operacao                     13583
txt_nome_empreendimento          15649
txt_nome_agente_financeiro          25
txt_modalidade                       4
txt_situacao_empreendimento          3
qtd_uh                             730
qtd_uh_entregues                   713
qtd_uh_vigentes                    228
qtd_uh_distratadas                  69
val_contratado_total              6952
val_desembolsado                  6586
txt_cnpj_construtora_entidade     2953
txt_nome_construtora_entidade     2943
txt_endereco                      3524
txt_cep                           1747
dtype: int64

In [11]:
dadosgov.isnull().sum()

data_referencia                      0
cod_ibge                             0
txt_nome_municipio                   0
txt_sigla_uf                         0
txt_regiao                          14
dt_assinatura                        0
cod_operacao                      4566
txt_nome_empreendimento              0
txt_nome_agente_financeiro           0
txt_modalidade                       0
txt_situacao_empreendimento          0
qtd_uh                               0
qtd_uh_entregues                     1
qtd_uh_vigentes                      0
qtd_uh_distratadas                   0
val_contratado_total                 0
val_desembolsado                     1
txt_cnpj_construtora_entidade     4734
txt_nome_construtora_entidade     4725
txt_endereco                     14084
txt_cep                          14084
dtype: int64

In [12]:
dadosgov[dadosgov.txt_regiao.isnull()]

,data_referencia,cod_ibge,txt_nome_municipio,txt_sigla_uf,txt_regiao,dt_assinatura,cod_operacao,txt_nome_empreendimento,txt_nome_agente_financeiro,txt_modalidade,...,qtd_uh,qtd_uh_entregues,qtd_uh_vigentes,qtd_uh_distratadas,val_contratado_total,val_desembolsado,txt_cnpj_construtora_entidade,txt_nome_construtora_entidade,txt_endereco,txt_cep
58188,30/09/2024,270.630,PALMEIRA DOS INDIOS,AL,NaN,17/07/2024,62769362.0,RESIDENCIAL JULIA JOSEFA DE JESUS ...,CAIXA,FAR,...,150.0,0.0,150.0,0,21.450.000,0,NaN,NaN,NaN,NaN
58193,30/09/2024,291.080,FEIRA DE SANTANA,BA,NaN,11/07/2024,62678003.0,RESIDENCIAL RIO DE JANEIRO II ...,CAIXA,FAR,...,226.0,0.0,226.0,0,34.679.700,0,NaN,NaN,NaN,NaN
58213,30/09/2024,270.630,PALMEIRA DOS INDIOS,AL,NaN,17/07/2024,62769476.0,RESIDENCIAL PREFEITO GILENO COSTA SAMPAIO ...,CAIXA,FAR,...,100.0,0.0,100.0,0,14.300.000,0,NaN,NaN,NaN,NaN
58215,30/09/2024,210.900,PORTO FRANCO,MA,NaN,29/07/2024,63144086.0,JARDIM PORTO FRANCO II ...,CAIXA,FAR,...,50.0,0.0,50.0,0,"7.149.414,71",0,NaN,NaN,NaN,NaN
58216,30/09/2024,330.630,VOLTA REDONDA,RJ,NaN,04/07/2024,62768232.0,RESIDENCIAL THEREZINHA GONCALVES ...,CAIXA,FAR,...,112.0,0.0,112.0,0,17.877.000,0,NaN,NaN,NaN,NaN
58233,30/09/2024,353.080,MOGI MIRIM,SP,NaN,26/07/2024,63396684.0,CONJUNTO HABITACIONAL MANERA ...,CAIXA,FAR,...,100.0,0.0,100.0,0,"16.865.286,51",0,NaN,NaN,NaN,NaN
58274,30/09/2024,172.100,PALMAS,TO,NaN,02/07/2024,63107453.0,CONDOMINIO RESIDENCIAL PARQUE DOS IPES III ...,CAIXA,FAR,...,128.0,0.0,128.0,0,21.472.000,0,NaN,NaN,NaN,NaN
58278,30/09/2024,353.390,OLIMPIA,SP,NaN,05/07/2024,63239773.0,RESIDENCIAL OLIMPIA F ...,CAIXA,FAR,...,150.0,0.0,150.0,0,"23.455.901,48",0,NaN,NaN,NaN,NaN
58289,30/09/2024,250.750,JOAO PESSOA,PB,NaN,02/07/2024,61507208.0,RESIDENCIAL DO S ...,CAIXA,FAR,...,192.0,0.0,192.0,0,"32.570.144,96",0,NaN,NaN,NaN,NaN
58296,30/09/2024,291.005,DIAS DAVILA,BA,NaN,19/07/2024,63091057.0,RESIDENCIAL VILA CONCORDIA I ...,CAIXA,FAR,...,148.0,0.0,148.0,0,21.830.000,0,NaN,NaN,NaN,NaN
58308,30/09/2024,353.730,PENAPOLIS,SP,NaN,02/08/2024,62914563.0,RESIDENCIAL MUNDO NOVO IV ...,CAIXA,FAR,...,96.0,0.0,96.0,0,"15.489.564,14",0,NaN,NaN,NaN,NaN
58312,30/09/2024,270.630,PALMEIRA DOS INDIOS,AL,NaN,17/07/2024,62769258.0,RESIDENCIAL EURIDES NASCIMENTO TAVARES ...,CAIXA,FAR,...,150.0,0.0,150.0,0,21.450.000,0,NaN,NaN,NaN,NaN
58330,30/09/2024,290.570,CAMACARI,BA,NaN,19/07/2024,62743758.0,VERDES HORIZONTES I ...,CAIXA,FAR,...,192.0,0.0,192.0,0,32.524.800,0,NaN,NaN,NaN,NaN
58332,30/09/2024,290.570,CAMACARI,BA,NaN,19/07/2024,62743976.0,VERDES HORIZONTES II ...,CAIXA,FAR,...,192.0,0.0,192.0,0,32.524.800,0,NaN,NaN,NaN,NaN

In [13]:
estado_para_regiao = {
    'AC': 'Norte', 'AL': 'Nordeste', 'AP': 'Norte', 'AM': 'Norte',
    'BA': 'Nordeste', 'CE': 'Nordeste', 'DF': 'Centro-Oeste', 'ES': 'Sudeste',
    'GO': 'Centro-Oeste', 'MA': 'Nordeste', 'MT': 'Centro-Oeste', 'MS': 'Centro-Oeste',
    'MG': 'Sudeste', 'PA': 'Norte', 'PB': 'Nordeste', 'PR': 'Sul',
    'PE': 'Nordeste', 'PI': 'Nordeste', 'RJ': 'Sudeste', 'RN': 'Nordeste',
    'RS': 'Sul', 'RO': 'Norte', 'RR': 'Norte', 'SC': 'Sul',
    'SP': 'Sudeste', 'SE': 'Nordeste', 'TO': 'Norte'
}
dadosgov.loc[dadosgov['txt_regiao'].isna(), 'txt_regiao'] = dadosgov['txt_sigla_uf'].map(estado_para_regiao)

In [14]:
dadosgov[dadosgov.txt_regiao.isnull()]

Empty DataFrame
Columns: [data_referencia, cod_ibge, txt_nome_municipio, txt_sigla_uf, txt_regiao, dt_assinatura, cod_operacao, txt_nome_empreendimento, txt_nome_agente_financeiro, txt_modalidade, txt_situacao_empreendimento, qtd_uh, qtd_uh_entregues, qtd_uh_vigentes, qtd_uh_distratadas, val_contratado_total, val_desembolsado, txt_cnpj_construtora_entidade, txt_nome_construtora_entidade, txt_endereco, txt_cep]
Index: []

[0 rows x 21 columns]

In [15]:
dadosgov[dadosgov.val_desembolsado.isnull()]

,data_referencia,cod_ibge,txt_nome_municipio,txt_sigla_uf,txt_regiao,dt_assinatura,cod_operacao,txt_nome_empreendimento,txt_nome_agente_financeiro,txt_modalidade,...,qtd_uh,qtd_uh_entregues,qtd_uh_vigentes,qtd_uh_distratadas,val_contratado_total,val_desembolsado,txt_cnpj_construtora_entidade,txt_nome_construtora_entidade,txt_endereco,txt_cep
16193,30/09/2024,110.07,Campo Novo de Rondônia,RO,Norte,30/06/2016,1747317.0,1627-ALTAMIRA-12-RO,BB,Rural,...,4.0,0.0,4.0,0,126.000,NaN,5.888813e+12,ENTIDADE AUTARQUICA DE ASSIST TECN E EXTE RURA...,NaN,NaN

In [16]:
dadosgov.loc[dadosgov['val_desembolsado'].isna(), 'val_desembolsado'] = 0

In [17]:
dadosgov[dadosgov.val_desembolsado.isnull()]

Empty DataFrame
Columns: [data_referencia, cod_ibge, txt_nome_municipio, txt_sigla_uf, txt_regiao, dt_assinatura, cod_operacao, txt_nome_empreendimento, txt_nome_agente_financeiro, txt_modalidade, txt_situacao_empreendimento, qtd_uh, qtd_uh_entregues, qtd_uh_vigentes, qtd_uh_distratadas, val_contratado_total, val_desembolsado, txt_cnpj_construtora_entidade, txt_nome_construtora_entidade, txt_endereco, txt_cep]
Index: []

[0 rows x 21 columns]

In [18]:
dadosgov[dadosgov.qtd_uh_entregues.isnull()]

,data_referencia,cod_ibge,txt_nome_municipio,txt_sigla_uf,txt_regiao,dt_assinatura,cod_operacao,txt_nome_empreendimento,txt_nome_agente_financeiro,txt_modalidade,...,qtd_uh,qtd_uh_entregues,qtd_uh_vigentes,qtd_uh_distratadas,val_contratado_total,val_desembolsado,txt_cnpj_construtora_entidade,txt_nome_construtora_entidade,txt_endereco,txt_cep
19617,30/09/2024,355.03,São Paulo,SP,Sudeste,04/09/2015,45707347.0,COPA DO POVO GLEBA B,CAIXA,Entidades,...,648.0,NaN,648.0,0,15.205.558,0,7.367387e+12,ASS DE MORADORES DO ACAMPAMENTO ESPERANCA DE U...,RUA ISOSUKE OKAVE X RUA MALMEQUER DO CAMPO S/N...,8270700.0

In [19]:
dadosgov.loc[dadosgov.qtd_uh_entregues.isnull(), 'qtd_uh_entregues'] = 0.0

In [20]:
dadosgov[dadosgov.qtd_uh_entregues.isnull()]

Empty DataFrame
Columns: [data_referencia, cod_ibge, txt_nome_municipio, txt_sigla_uf, txt_regiao, dt_assinatura, cod_operacao, txt_nome_empreendimento, txt_nome_agente_financeiro, txt_modalidade, txt_situacao_empreendimento, qtd_uh, qtd_uh_entregues, qtd_uh_vigentes, qtd_uh_distratadas, val_contratado_total, val_desembolsado, txt_cnpj_construtora_entidade, txt_nome_construtora_entidade, txt_endereco, txt_cep]
Index: []

[0 rows x 21 columns]

In [21]:
dadosgov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18151 entries, 0 to 58345
Data columns (total 21 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   data_referencia                18151 non-null  object
 1   cod_ibge                       18151 non-null  float64
 2   txt_nome_municipio             18151 non-null  object
 3   txt_sigla_uf                   18151 non-null  object
 4   txt_regiao                     18151 non-null  object
 5   dt_assinatura                  18151 non-null  object
 6   cod_operacao                   13585 non-null  float64
 7   txt_nome_empreendimento        18151 non-null  object
 8   txt_nome_agente_financeiro     18151 non-null  object
 9   txt_modalidade                 18151 non-null  object
 10  txt_situacao_empreendimento    18151 non-null  object
 11  qtd_uh                         18151 non-null  float64
 12  qtd_uh_entregues               18151 non-null  float64
 13  qtd_uh_vigentes                18151 non-null  float64
 14  qtd_uh_distratadas             18151 non-null  int64
 15  val_contratado_total           18151 non-null  object
 16  val_desembolsado               18151 non-null  object
 17  txt_cnpj_construtora_entidade  13417 non-null  float64
 18  txt_nome_construtora_entidade  13426 non-null  object
 19  txt_endereco                   4067 non-null   object
 20  txt_cep                        4067 non-null   float64
dtypes: float64(7), int64(1), object(13)
memory usage: 3.6+ MB

In [22]:
dadosgov['data_referencia'].nunique()

1

In [23]:
colunas_remover = [
    'data_referencia',
    'txt_cnpj_construtora_entidade',
    'txt_nome_construtora_entidade',
    'txt_endereco',
    'txt_cep'
]
dadosgov = dadosgov.drop(columns=colunas_remover)

In [24]:
dadosgov.head(3)

,cod_ibge,txt_nome_municipio,txt_sigla_uf,txt_regiao,dt_assinatura,cod_operacao,txt_nome_empreendimento,txt_nome_agente_financeiro,txt_modalidade,txt_situacao_empreendimento,qtd_uh,qtd_uh_entregues,qtd_uh_vigentes,qtd_uh_distratadas,val_contratado_total,val_desembolsado
0,110.02,Porto Velho,RO,Norte,09/04/2010,29925581.0,RESIDENCIAL CIDADE DE TODOS III,CAIXA,FAR,Concluído,240.0,240.0,0.0,0,13.830.963,"13.809.147,96"
1,110.02,Porto Velho,RO,Norte,09/04/2010,30011639.0,RESIDENCIAL CIDADE DE TODOS IX,CAIXA,FAR,Concluído,240.0,240.0,0.0,0,14.218.052,"14.218.051,93"
2,110.02,Porto Velho,RO,Norte,09/07/2010,32680414.0,RESIDENCIAL CIDADE DE TODOS - LOTE 01,CAIXA,FAR,Concluído,114.0,114.0,0.0,0,6.840.691,"6.840.691,6"

In [25]:
dadosgov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18151 entries, 0 to 58345
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cod_ibge                     18151 non-null  float64
 1   txt_nome_municipio           18151 non-null  object
 2   txt_sigla_uf                 18151 non-null  object
 3   txt_regiao                   18151 non-null  object
 4   dt_assinatura                18151 non-null  object
 5   cod_operacao                 13585 non-null  float64
 6   txt_nome_empreendimento      18151 non-null  object
 7   txt_nome_agente_financeiro   18151 non-null  object
 8   txt_modalidade               18151 non-null  object
 9   txt_situacao_empreendimento  18151 non-null  object
 10  qtd_uh                       18151 non-null  float64
 11  qtd_uh_entregues             18151 non-null  float64
 12  qtd_uh_vigentes              18151 non-null  float64
 13  qtd_uh_distratadas           18151 non-null  int64
 14  val_contratado_total         18151 non-null  object
 15  val_desembolsado             18151 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 2.9+ MB

In [26]:
dadosgov

,cod_ibge,txt_nome_municipio,txt_sigla_uf,txt_regiao,dt_assinatura,cod_operacao,txt_nome_empreendimento,txt_nome_agente_financeiro,txt_modalidade,txt_situacao_empreendimento,qtd_uh,qtd_uh_entregues,qtd_uh_vigentes,qtd_uh_distratadas,val_contratado_total,val_desembolsado
0,110.02,Porto Velho,RO,Norte,09/04/2010,29925581.0,RESIDENCIAL CIDADE DE TODOS III,CAIXA,FAR,Concluído,240.0,240.0,0.0,0,13.830.963,"13.809.147,96"
1,110.02,Porto Velho,RO,Norte,09/04/2010,30011639.0,RESIDENCIAL CIDADE DE TODOS IX,CAIXA,FAR,Concluído,240.0,240.0,0.0,0,14.218.052,"14.218.051,93"
2,110.02,Porto Velho,RO,Norte,09/07/2010,32680414.0,RESIDENCIAL CIDADE DE TODOS - LOTE 01,CAIXA,FAR,Concluído,114.0,114.0,0.0,0,6.840.691,"6.840.691,6"
3,110.02,Porto Velho,RO,Norte,09/07/2010,32703630.0,RESIDENCIAL CIDADE DE TODOS - LOTE 02,CAIXA,FAR,Concluído,82.0,82.0,0.0,0,3.421.062,"3.421.062,22"
4,110.02,Porto Velho,RO,Norte,25/06/2013,40267126.0,RESIDENCIAL PORTO BELLO II,CAIXA,FAR,Concluído,272.0,272.0,0.0,0,18.161.056,"18.161.056,68"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
58341,311.06,Cambuí,MG,Sudeste,27/04/2018,49099583.0,PNHR CAMBUI,CAIXA,Rural,Distratado/Cancelado,7.0,0.0,0.0,7,256.900,38.535
58342,260.41,Caruaru,PE,Nordeste,02/07/2024,63191186.0,RESIDENCIAL NOVA BARAUNA I ...,CAIXA,FAR,Não Concluído,240.0,0.0,240.0,0,40.260.000,0
58343,231.29,Sobral,CE,Nordeste,02/08/2024,63241600.0,RESIDENCIAL JARDINS DA SERRA II ...,CAIXA,FAR,Não Concluído,192.0,0.0,192.0,0,"30.559.649,53",0
58344,431.49,Porto Alegre,RS,Sul,27/09/2013,53367100.0,CONDOMINIO JARDIM DAS FIGUEIRAS III - FASE II,CAIXA,Entidades,Concluído,360.0,360.0,0.0,0,30.852.862,30.852.862
58345,280.74,Tobias Barreto,SE,Nordeste,06/08/2024,63217932.0,RESIDENCIAL AGRIPINO BERNARDO DOS SANTOS IV ...,CAIXA,FAR,Não Concluído,100.0,0.0,100.0,0,13.000.000,0

In [27]:
dadosgov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18151 entries, 0 to 58345
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cod_ibge                     18151 non-null  float64
 1   txt_nome_municipio           18151 non-null  object
 2   txt_sigla_uf                 18151 non-null  object
 3   txt_regiao                   18151 non-null  object
 4   dt_assinatura                18151 non-null  object
 5   cod_operacao                 13585 non-null  float64
 6   txt_nome_empreendimento      18151 non-null  object
 7   txt_nome_agente_financeiro   18151 non-null  object
 8   txt_modalidade               18151 non-null  object
 9   txt_situacao_empreendimento  18151 non-null  object
 10  qtd_uh                       18151 non-null  float64
 11  qtd_uh_entregues             18151 non-null  float64
 12  qtd_uh_vigentes              18151 non-null  float64
 13  qtd_uh_distratadas           18151 non-null  int64
 14  val_contratado_total         18151 non-null  object
 15  val_desembolsado             18151 non-null  object
dtypes: float64(5), int64(1), object(10)
memory usage: 2.9+ MB

In [29]:
dadosgov['qtd_uh'] = dadosgov['qtd_uh'].astype(int)

In [30]:
dadosgov['qtd_uh_vigentes'] = dadosgov['qtd_uh_vigentes'].astype(int)

In [31]:
dadosgov['qtd_uh_entregues'] = dadosgov['qtd_uh_entregues'].astype(float).astype(int)

In [32]:
dadosgov['val_desembolsado'] = (dadosgov['val_desembolsado']
    .str.replace('.', '', regex=False) 
    .str.replace(',', '.', regex=False)  
    .astype(float))

In [33]:
dadosgov['val_contratado_total'] = (
    dadosgov['val_contratado_total']
    .str.replace('.', '', regex=False) 
    .str.replace(',', '.', regex=False)  
    .astype(float))

In [34]:
dadosgov.info()

<class 'pandas.core.frame.DataFrame'>
Index: 18151 entries, 0 to 58345
Data columns (total 16 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   cod_ibge                     18151 non-null  float64
 1   txt_nome_municipio           18151 non-null  object
 2   txt_sigla_uf                 18151 non-null  object
 3   txt_regiao                   18151 non-null  object
 4   dt_assinatura                18151 non-null  object
 5   cod_operacao                 13585 non-null  float64
 6   txt_nome_empreendimento      18151 non-null  object
 7   txt_nome_agente_financeiro   18151 non-null  object
 8   txt_modalidade               18151 non-null  object
 9   txt_situacao_empreendimento  18151 non-null  object
 10  qtd_uh                       18151 non-null  int32
 11  qtd_uh_entregues             18151 non-null  int32
 12  qtd_uh_vigentes              18151 non-null  int32
 13  qtd_uh_distratadas           18151 non-null  int64
 14  val_contratado_total         18151 non-null  float64
 15  val_desembolsado             18150 non-null  float64
dtypes: float64(4), int32(3), int64(1), object(8)
memory usage: 2.7+ MB

In [35]:
dadosgov.to_csv('dadosok.csv')

In [37]:
bucket_name = 'desafio-sprint5'
file_path = "C:\\Users\\sidci\\OneDrive\\Documentos\\Bruna\\compass\\sprint5\\dadosok.csv"
s3_key = 'uploads/dadosogutratado.csv'

try:
    s3.upload_file(Filename=file_path, Bucket=bucket_name, Key=s3_key)
    print("Arquivo enviado com sucesso para o S3!")
except Exception as e:
    print("Erro ao enviar o arquivo:", e)

Arquivo enviado com sucesso para o S3!